.page__taxonomy {
  margin-top: 5px;
  display: block;

  @include breakpoint($small) {
    margin-left: 8px;
    display: inline;
  }
}

.page__taxonomy-item-tag {
  display: inside;
  margin-right: 5px;
  margin-bottom: 8px;
  padding: 3px 8px;
  border: 1px solid #b6b6b6;
  border-radius: 4px;
}

#toTop {
  position: fixed;
  width: 35px;
  height: 35px;
  background-color: $primary-color;
  color: $background-color;
  opacity: 35%;
  border-radius: 50%;
  right: 5.5%;
  bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

// applause-button
applause-button {
  width: 80px;
  height: 80px;
  margin: 53px auto 83px auto;

  .style-root {
    fill: $highlight-color !important;
    stroke: $highlight-color !important;
    color: $highlight-color !important;

    .count-container {
      .count {
        color: $highlight-color;
      }
    }
  }
}

.clap-count {
  color: $muted-text-color;

  svg {
    height: 1em;
    vertical-align: middle;
    width: 1em;
    margin-left: 4px;
    margin-right: 4px;
    transform: translate(0px, -1px);
    stroke: $muted-text-color;
    stroke-width: 2px;
  }

  .flat {
    fill: none;
  }

  .outline {
    fill: $muted-text-color;
  }
}
